$utilities: (
    "padding": (
        "prefix": "p",
        "values": (
            "0": 0,
            "1": 10px,
            "2": 20px,
            "3": 30px,
            "4": 40px,
            "5": 50px,
            "6": 60px,
            "7": 70px,
            "8": 80px,
        )
    ),
    "padding-left": (
        "prefix": "pl",
        "values": (
            "0": 0,
            "1": 10px,
            "2": 20px,
            "3": 30px,
            "4": 40px,
            "5": 50px,
            "6": 60px,
            "7": 70px,
            "8": 80px,
        )
    ),
    "padding-right": (
        "prefix": "pr",
        "values": (
            "0": 0,
            "1": 10px,
            "2": 20px,
            "3": 30px,
            "4": 40px,
            "5": 50px,
            "6": 60px,
            "7": 70px,
            "8": 80px,
        )
    ),
    "padding-top": (
        "prefix": "pt",
        "values": (
            "0": 0,
            "1": 10px,
            "2": 20px,
            "3": 30px,
            "4": 40px,
            "5": 50px,
            "6": 60px,
            "7": 70px,
            "8": 80px,
        )
    ),
    "padding-bottom": (
        "prefix": "pb",
        "values": (
            "0": 0,
            "1": 10px,
            "2": 20px,
            "3": 30px,
            "4": 40px,
            "5": 50px,
            "6": 60px,
            "7": 70px,
            "8": 80px,
        )
    ),
    "margin": (
        "prefix": "m",
        "values": (
            "0": 0,
            "1": 10px,
            "2": 20px,
            "3": 30px,
            "4": 40px,
            "5": 50px,
            "6": 60px,
            "7": 70px,
            "8": 80px,
        )
    ),
    "margin-left": (
        "prefix": "ml",
        "values": (
            "0": 0,
            "1": 10px,
            "2": 20px,
            "3": 30px,
            "4": 40px,
            "5": 50px,
            "6": 60px,
            "7": 70px,
            "8": 80px,
        )
    ),
    "margin-right": (
        "prefix": "mr",
        "values": (
            "0": 0,
            "1": 10px,
            "2": 20px,
            "3": 30px,
            "4": 40px,
            "5": 50px,
            "6": 60px,
            "7": 70px,
            "8": 80px,
        )
    ),
    "margin-top": (
        "prefix": "mt",
        "values": (
            "0": 0,
            "1": 10px,
            "2": 20px,
            "3": 30px,
            "4": 40px,
            "5": 50px,
            "6": 60px,
            "7": 70px,
            "8": 80px,
        )
    ),
    "margin-bottom": (
        "prefix": "mb",
        "values": (
            "0": 0,
            "1": 10px,
            "2": 20px,
            "3": 30px,
            "4": 40px,
            "5": 50px,
            "6": 60px,
            "7": 70px,
            "8": 80px,
        )
    )
);

@each $property, $map in $utilities {
    $prefix: map-get($map, "prefix");
    $values: map-get($map, "values");

    @each $key, $value in $values {
        .#{$prefix}-#{$key} {
            #{$property}: $value;
        }
    }
}

@media #{$r-min-xl} {
    .desktop-show {
        display: block !important;
    }

    .desktop-hide {
        display: none !important;
    }

    .mobile-show {
        display: none;
    }

    .mobile-hide {
        display: block;
    }
}

@media #{$r-max-xl} {
    .desktop-show {
        display: none;
    }

    .desktop-hide {
        display: block;
    }

    .mobile-show {
        display: block !important;
    }

    .mobile-hide {
        display: none !important;
    }
}