$main-font: "Montserrat", sans-serif;

$base-container: 1200px;
$wrapper: 1170px;

$base-padding: 15px;
$base-margin: 10px;
$base-radius: 5px;
$base-box-shadow: 1px 3px 5px rgba(0,0,0,.1);

$c-theme: #0b8b51;
$c-skyblue: #3d8d8f;
$c-dark-blue: #082a2e;
$c-middleblue: #0b5a8f;
$c-red: #c70000;
$c-red2: #b31e1e;
$c-purple: #a500d8;
$c-yellow: #b4e800;

$c-warning: #c29b25;
$c-success: #117a4b;
$c-error: #b10101;
$c-info: #2874a6;

$c-facebook: #4267b2;
$c-instagram: #e1306c;
$c-discord: #5865f2;
$c-github: #967bb6;
$c-twitter: #1DA1F2;
$c-youtube: #FF0000;

$c-grayF3: #f3f3f3;
$c-dark-theme: #212121;

$c-white: #fff;
$c-e: #eee;
$c-d: #ddd;
$c-c: #ccc;
$c-b: #bbb;
$c-a: #aaa;
$c-9: #999;
$c-8: #888;
$c-7: #777;
$c-6: #666;
$c-5: #555;
$c-4: #444;
$c-3: #333;
$c-2: #222;
$c-1: #111;
$c-black: #000;