    .products-carousel {
        padding: 80px 0;
      .header_title {
        margin-bottom: 40px;
      }

      .VueCarousel-navigation-button {
        background-color: $c-theme;
        border-radius: 3px;
        i {
          font-size: 30px;
          color: $c-white;
        }
      }

      .VueCarousel-inner {
        margin: 8px 0;
      }

      &-product {
        height: 100% !important;
        @include flexBox("space-between");
        flex-direction: column;
        margin: 0 6px;
        background-color: rgba($c-twitter, .35);
        transition: all .2s ease-in-out;
        cursor: pointer;

        &_image {
          position: relative;
          width: 100%;
          height: auto;
          picture {
            @include paddingBottom(100, 130);
          }

          .badge {
            position: absolute;
            top: 10px;
            z-index: 2;
            padding: 5px;
            font-weight: 700;
            text-transform: uppercase;

            &-discount {
              left: 10px;
              background-color: $c-yellow;
              color: $c-black;
              border: 1px solid $c-black;
            }
            &-special {
              right: 10px;
              background-color: $c-twitter;
              color: $c-black;
              border: 1px solid $c-black;
            }
          }
        }
        &_desc {
          @include flexBox();
          flex-direction: column;
          padding: 0 8px 8px;
          width: 100%;

          .title {
            font-size: 22px;
            color: $c-6;
            margin: 5px 0 0;
          }
          .price {
            font-size: 20px;
            font-weight: 700;
            color: $c-3;
            margin: 8px 0;

            &.discount {
              text-decoration: line-through;
              font-size: 17px;
              color: $c-9;
            }
          }
          .discount-price {
            font-size: 20px;
            font-weight: 700;
            color: $c-3;
            margin: 5px 0;
          }
          .cart-btn {
            @include btn($c-a, $c-dark-theme);
            width: 100%;

            i {
              margin-right: 5px;
            }

            &:hover {
              background-color: $c-theme;
              color: $c-white;
            }
          }
          .unavailable {
            padding: 13px 5px;
            background-color: $c-red;
            color: $c-white;
            font-size: 16px;
            width: 100%;
            text-align: center;
            border-radius: 3px;

            i {
              font-size: 18px;
              color: $c-white;
              margin-right: 5px;
              transform: translateY(1px);
            }
          }
        }

        &:hover {
          box-shadow: 0 0 8px rgba($c-black, .75);
          transform: translateY(-3px);
        }
      }
    }