.blogs {
    width: 100%;
    height: auto;

    & > .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media #{$r-max-xl} {
            width: 90%;
            margin: 10px auto 100px;
            padding: 0;
            display: flex;
        }

        & > .header_title {
            margin-bottom: 30px;
        }
    }

    .VueCarousel-navigation-button {
        background-color: $c-theme;
        border-radius: 3px;
        i {
            font-size: 30px;
            color: $c-white;
        }
    }

    &-container {
        display: flex;

        &-card {
            @include flexBox("space-between", "flex-start");
            flex-direction: column;
            width: 100%;
            height: 100% !important;
            background-color: $c-grayE6;
            border: 1px solid $c-gray71;
            margin: 0 6px;
            border-radius: 3px;
            overflow: hidden;
            position: relative;
            cursor: pointer;

            .datetime {
                position: absolute;
                top: 0;
                right: 0;
                z-index: 2;
                width: 60px;
                height: 60px;
                @include flexBox();
                flex-direction: column;
                background-color: $c-dark3;
                transition: .3s;

                &-day, &-month {
                    font-size: 16px;
                    line-height: 25px;
                    color: $c-white;
                }
            }

            .date {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
                width: 60px;
                height: 30px;
                @include flexBox();
                background-color: $c-dark3;
                transition: .3s;

                &-year {
                    font-size: 16px;
                    color: $c-white;
                }
            }

            & > .image {
                width: 100%;
                position: relative;

                picture {
                    @include respImage(0.71);
                }

                &::before {
                    @include absoluteFullSize();
                    content: '';
                    z-index: 1;
                    transition: .3s;
                }
            }

            & > .title {
                transition: .2s;
                margin: 5px 10px;
                font-size: 18px;
                line-height: 26px;
                color: $c-gray71;
                font-weight: 700;

                @media #{$r-max-s} {
                    margin: 15px 10px;
                }
            }

            .bottom {
                @include flexBox("flex-start", "center");
                font-size: 15px;
                color: $c-7;
                margin: 0 10px;
            }

            .btn {
                @include btn($c-white, $c-dark3, $c-theme);
                margin: 5px 10px;
                padding: 5px 12px;
                font-size: 15px;
                border-radius: 0;
            }

            &:hover {
                .datetime {
                    background-color: $c-theme;
                }

                .date {
                    background-color: $c-theme;
                }

                .image {
                    &::before {
                        background-color: rgba($c-black, 0.6);
                    }
                }

                .title {
                    color: $c-theme;
                }
            }

            @media #{$r-max-l} {
                width: 100%;
                height: 340px;
            }

            @media #{$r-max-l} {
                width: 100%;
                height: 430px;
            }
        }
    }
}