@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba($c-green-theme, 0.5);
    }
    70% {
        box-shadow: 0 0 0 40px rgba($c-green-theme, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba($c-green-theme, 0);
    }
}