*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*:focus {
    outline: none;
}

.wrapper {
    padding: 0 15px;
    width: $wrapper;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

section {
    padding: 40px 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    border: none;
    outline: none;
}

//TODO: befejezni