$r-min-xs: "(min-width: 420px)";
$r-min-s: "(min-width: 540px)";
$r-min-m: "(min-width: 768px)";
$r-min-l: "(min-width: 1024px)";
$r-min-xl: "(min-width: 1200px)";
$r-min-xxl: "(min-width: 1500px)";

$r-max-xs: "(max-width: 419px)";
$r-max-s: "(max-width: 539px)";
$r-max-m: "(max-width: 767px)";
$r-max-l: "(max-width: 1023px)";
$r-max-xl: "(max-width: 1199px)";
$r-max-xxl: "(max-width: 1499px)";