$r-mobile-s: "(min-width: 420px)";
$r-mobile-l: "(min-width: 540px)";
$r-tablet: "(min-width: 768px)";
$r-laptop-s: "(min-width: 1024px)";
$r-laptop-m: "(min-width: 1200px)";
$r-laptop-xl: "(min-width: 1500px)";

$r-max-mobile-s: "(max-width: 419px)";
$r-max-mobile-l: "(max-width: 539px)";
$r-max-tablet: "(max-width: 767px)";
$r-max-laptop-s: "(max-width: 1023px)";
$r-max-laptop-m: "(max-width: 1199px)";
$r-max-laptop-xl: "(max-width: 1499px)";